
Intermediate/CachedAssetRegistry_0.bin
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders_temp.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/Config/CrashReportClient/UECC-Windows-1FB0C8BB4B3234B690450080D3624134/CrashReportClient.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Logs/GameAnimationSample-backup-2024.07.24-11.05.00.log
Saved/Logs/GameAnimationSample.log
Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_eeecc35eb07d50a3/Default/DDCKey-Editor.txt
Saved/Telemetry/Telemetry.json
